.container {
  position: relative;
  width: 700%;
  max-width: 1000px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn1 {
	position: absolute;
  top: 40%;
  left: 10%;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%
}

.container .btn2 {
	position: absolute;
  top: 65%;
  left: 10%;
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%
}
.container .btn3 {
	position: absolute;
  top: 52%;
  left: 10%;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%
}
.container .btn:hover {
  background-color: black;
}